/* Created Spamol */
// Variables
@img-link: "../img";
@greyBg: #f4f6f9;
@blueColor: #00b9fe;
@textColor: #5c7b98;

// Mixins
.clearFloat {
    zoom:1; /* Хак для IE 6 и 7 */
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}
.twoFloatBlocks(@width){
	float:left;
	width: @width;
}
.transLink(@prop){
	transition: @prop 0.15s ease-in-out;
}
.centerBlock(@width){
	width: @width;
	margin: 0 auto;
}

// Main
html{
    min-height: 100%;
    min-width: 100%;
}
body{
    background: #fff;
    font-family: 'elektra_light_proregular';
    font-size: 1em;
    color:@textColor;
}
.wrap{
	width: 1000px;
	margin: 38px auto 0;
	.clearFloat
}
// Left col
aside{
	.twoFloatBlocks(230px);
	.logo{
		margin-bottom: 15px;
	}
	.formaBlock{
		background: @greyBg;
		padding: 14px 10px;
		margin-bottom: 15px;
		.titleForma{
			text-align: center;
			font-size: 25px;
			font-family: 'elektra_light_probold';
			margin-bottom: 17px;
		}
		input::-webkit-input-placeholder,
		input::-moz-placeholder,
		textarea::-webkit-input-placeholder,
		textarea::-moz-placeholder{
			color: #dae1eb;
		}
		.wrapInput{
			margin-bottom: 13px;
			.clearFloat;
			label{
				font-size: 14px;
				position: relative;
				top: 3px;
			}
			input{
				width: 122px;
				height: 24px;
				padding-left: 8px;
				float: right;
				border: 1px solid #dae1eb;
				font-family: 'elektra_light_proregular';
				font-size: 12px;
				color:@textColor;
			}
		}
		.wrapSelect{
			margin:-7px 0 18px;
			label{
				font-size: 14px;
			}
			select{
				width: 70px;
			    border: none;
			    height: 22px;
			    line-height: 22px;
			    position: relative;
			    background: none;
			    z-index: 100;
			    font-size: 12px;
			    color:@textColor;
			    font-family: 'elektra_light_proregular';
			}
			.selectOuter {
			    border: 1px solid #dae1eb;
			    background: #fff;
			    width: 49px;
			    overflow: hidden;
			    display: inline-block;
			    position: relative;
			    top: 7px;
				margin-left: 7px;
			}
			.select-button {
			    background: url('@{img-link}/selectBtn.jpg') center center no-repeat;
			    height: 24px;
			    width: 25px;
			    position: absolute;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    z-index: 50;
			}
		}
		textarea{
			color:@textColor;
			border: 1px solid #dae1eb;
			border: 1px solid #dae1eb;
			font-size: 12px;
			resize:none;
			width: 188px;
			height: 43px;
			padding: 12px 10px;
		}
		input[type=submit],
		input[type=reset]{
			padding: 9px 4px 7px 6px;
			background: @blueColor;
			color: #fff;
			font-family: 'elektra_light_proregular';
			border: none;
			margin-top: 15px;
			outline:none;
			.transLink(background);
				&:hover,
				&:hover{
					background: #02a9e7;
				}
				&:active,
				&:active{
					padding: 10px 4px 6px 6px;
					box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.5);
				}
		}
		input[type=reset]{
			background: #dae1eb;
			float: right;
				&:hover{
					background: #bec4cc;
				}
		}
	}
	.picsBlock{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				width: 70px;
				height: 70px;
				float: left;
				margin:0 0 10px 10px;
				&:nth-child(3n+1){
					clear: left;
					margin-left: 0;
				}
			}
		}
	}
}
//Content col
.contentCol{
	.twoFloatBlocks(740px);
	margin-left: 30px;
	.slider{
		background: grey;
		height: 300px;
	}
}